---
name: On Push

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: DeterminateSystems/determinate-nix-action@v3.15.2

      # NOTE: This is a workaround for DisplayLink EULA
      - run: ./hosts/maple/prefetch-displaylink.sh

      - run: nix build .#nixosConfigurations.maple.config.system.build.toplevel
